@page
@{
    ViewData["Title"] = "Solution Result";
}
@section Styles {
    <link rel="stylesheet" href="https://cdn3.devexpress.com/jslib/22.2.4/css/dx.light.css">
    <link rel="stylesheet" href="/css/dxDataGird.css">
}
<div class="text-center">
    <h1>SUDOKU Solution Result</h1>

        <div id="dataGrid"></div>
    <button type="button" id="refersh-data" onclick="GetSolutionResult()">Refersh Data</button>
</div>
@section Scripts{
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="/js/dxdatagird.js"></script>
}